<div class="column is-12">
  <div class="card">
    <div class="card-header">
      <p class="card-header-title">{{ 'RESEARCHER_THEME.PAGES.RESUME.BASICS.SECTION'|t }}</p>
    </div>
    <div class="card-content">
      <div class="content">{{ header.resume_basics_summary|markdown }}</div>
    </div>
  </div>
</div>
