<div class="column is-12">
  <div class="card">
    <div class="card-header">
      <div class="card-header-title">{{ 'RESEARCHER_THEME.PAGES.RESUME.BASICS.SECTION'|t }}</div>
      <div class="card-header-icon">
        <span class="icon">
          <i class="fas fa-user-circle" aria-hidden="true"></i>
        </span>
      </div>
    </div>
    <div class="card-content">
      <div class="content">{{ header.resume_basics_summary|markdown }}</div>
    </div>
  </div>
</div>
