<div class="column is-12">
  <div class="card">
    <div class="card-header">
      <div class="card-header-title">{{ 'RESEARCHER_THEME.PAGES.RESUME.INTERESTS.SECTION'|t }}</div>
      <div class="card-header-icon">
        <span class="icon">
          <i class="fas fa-lightbulb" aria-hidden="true"></i>
        </span>
      </div>
    </div>
    <div class="card-content">
      {% for interest in header.resume_interests %}
      <div class="media">
        <div class="media-content">
          <strong>{{ interest.name }}</strong>
          <div class="tags">
            {% for keyword in interest.keywords %}
            <span class="tag is-{{ theme_config.primary_color }}"><i class="fas fa-tags"></i>&nbsp;{{ keyword }}</span>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
