<footer class="footer">
  <div class="container">
    <div class="level">
      <div class="level-left">
        <div class="level-item is-hidden-mobile">
          <span class="icon is-medium"><i class="fa fa-rocket"></i></span>
        </div>
        <div class="level-item">
          <div>
            <p>&copy; {% if theme_config.initial_date %}{{ theme_config.initial_date|date("Y") }} &mdash; {% endif %}{{ "now"|date("Y") }} {{ site.title|e('html') }}</p>
            <p class="is-size-7">
              Developed by <a href="https://leonidboykov.com">Leonid Boykov</a>. Powered by <a href="https://getgrav.com">Grav</a> and <a href="https://github.com/leonidboykov/grav-theme-researcher">Researcher</a>
            </p>
          </div>
        </div>
      </div>
      {% if config.plugins.langswitcher.enabled %}
        <div class="level-right">
          <div class="level-item">
            <div class="navbar-item has-dropdown has-dropdown-up is-hoverable">
              {% include 'partials/langswitcher.html.twig' %}
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</footer>
