<div class="container">
  <nav class="navbar">
    <div class="navbar-brand">
      <!-- TODO: Add Branding -->
      <!-- TODO: Add language switcher -->
      <!-- TODO: Not sure about clicked state -->
      <a class="navbar-item" href="{{ base_url }}">SPACE</a>
      <div class="navbar-burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-end">
        {% for page in pages.children.visible %}
        {% set current_page = (page.active or page.activeChild) ? "is-active" : "" %}
          <a class="navbar-item {{ current_page }}" href="{{ page.url }}">{{ page.menu }}</a>
        {% endfor %}
      </div>
    </div>
  </nav>
</div>
