<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item is-brand" href="#"><img src="{{ url('theme://images/logo_color.svg') }}" alt="iBrain Ltd" style="height:150px"></a>
    </div>
    <span id="nav-toggle" class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div id="nav-menu" class="nav-right nav-menu">
      {% for page in pages.children.visible %}
        {% set current_page = (page.active or page.activeChild) ? 'is-active' : '' %}
        <a class="nav-item {{ current_page }}" href="{{ page.url }}">{{ page.menu }}</a>
      {% endfor %}
    </div>
  </div>
</nav>
