{% extends 'partials/base.html.twig' %}

{% block content %}
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h2 class="title is-2">{{ page.title }}</h2>
        <div class="content">
          {{ page.content }}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
