{% extends 'partials/base.html.twig' %}

{% block content %}
  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-9-tablet is-8-desktop">
          <div class="has-text-centered">
            <h1 class="title is-2">{{ header.title }}</h1>
          </div>
          <hr>
          <div class="content has-text-justified">{{ content }}</div>
          <hr>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
