{% extends 'partials/base.html.twig' %}

{% block content %}
  <section class="section is-large">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-9-tablet is-8-desktop">
          <div class="content has-text-centered">{{ content|raw }}</div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
