{% set langobj = grav['language'] %}
<a class="navbar-link" href="#">{{ langswitcher.current }}</a>
<div class="navbar-dropdown">
  {% for key in langswitcher.languages %}
    {% if key != langswitcher.current %}
      {% set lang_url = base_url_simple ~ langobj.getLanguageURLPrefix(key)~langswitcher.page_route~page.urlExtension ?: '/' %}
      <a class="navbar-item" href="{{ lang_url }}">{{ native_name(key)[:2]|capitalize }}</a>
    {% endif %}
  {% endfor %}
</div>
