{% for page in pages.children.visible %}
  {% set current_page = (page.active or page.activeChild) ? 'is-active' : '' %}
  <a class="level-item" href="{{ page.url }}">{{ page.menu }}</a>
{% endfor %}
<a class="level-item scrollToTop">{{ "SCROLL_TO_TOP"|t }}</a>
